<%= form_with(model: @winner, url: clients_profiles_winnings_list_path(@winner), method: :patch) do |form| %>
  <div class="container mt-5">
    <div class="card shadow-sm">
      <div class="card-header">
        <h5 class="card-title">Claim Your Prize</h5>
      </div>
      <div class="card-body">
        <p class="mb-3">Please select an address where you’d like to receive your prize:</p>

        <% @locations.each do |location| %>
          <div class="form-check mb-2">
            <%= form.radio_button :location_id, location.id, id: "location_#{location.id}", class: "form-check-input", checked: (location.id == @default_location&.id) %>
            <%= label_tag "location_#{location.id}", "Name: #{location.name}, Street: #{location.street_address}, City: #{location.city.name}, Province: #{location.province.name}, Region: #{location.region.name}", class: "form-check-label" %>
          </div>
        <% end %>
      </div>
      <div class="card-footer text-center">
        <%= form.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
