<div class="banner-image mb-4">
  <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @banners.each_with_index do |banner, index| %>
        <div class="carousel-item<%= index == 0 ? ' active' : '' %>">
          <%= image_tag banner.preview.url, class: "d-block w-100 banner-img" %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container-fluid p-0">
  <div class="announcement">
    <div class="ticker-header">Announcement:</div>
    <div class="news-ticker-wrapper">
      <div class="news-ticker-container">
        <% @news_tickers.each do |news_ticker| %>
          <span class="news-ticker-item"><%= news_ticker.content %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>