<%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>

<footer class="footer fixed-bottom">
  <div class="footer__container p-3">
    <button class="footer__link">Share</button>
    <%= link_to 'Invite', clients_invite_people_path, class: 'footer__link' %>
    <button class="footer__link">Lottery</button>
    <button class="footer__link">Shop</button>

    <% if current_clients_user %>
      <%= link_to 'Me', clients_profile_path, class: 'footer__link' %>
    <% end %>
  </div>
</footer>