.footer {
    background-color: var(--container-color);
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.footer__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer__link {
    background: none;
    border: none;
    font-size: var(--normal-font-size);
    color: var(--title-color);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.footer__link:hover {
    color: var(--text-color-light);
    transform: scale(1.05);
}