/* Full viewport height */
.gradient-form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 15px;
}

.card .btn-primary,
.card .btn-secondary {
    font-size: 1.2rem;
    padding: 10px 0;
}

.card-body {
    padding: 2rem;
}

.text-center .logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.btn-block {
    width: 99%;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 5px;
}

.btn-outline-secondary {
    color: #1978BE;
    border: 2px solid #1978BE;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

/*===== ADMIN =====*/
.gradient-custom-admin {
    background: #fccb90;
    background: linear-gradient(to right, #1978BE, #45B86A);
}

/*===== CLIENT =====*/
.gradient-custom-client {
    background: #fccb90;
    background: linear-gradient(to right, #1978BE, #EC2129);
}

.btn-outline-secondary-active {
    border: 2px solid;
    border-image: linear-gradient(to right, #1978BE, #EC2129) 1;
    color: #1978BE;
}

.btn-outline-secondary:hover {
    border-image: linear-gradient(to right, #1978BE, #EC2129) 1;
    color: #1978BE;
}

.btn-outline-secondary:hover,
.btn-outline-secondary-active:hover {
    color: #fff;
    background: linear-gradient(to right, #1978BE, #EC2129);;
    border-radius: 5px;
}

/* #FDCA09 yellow, #1978BE blue, #EC2129 red, #45B86A green*/
/* #ee7724, #d8363a, #dd3675, #b44593 */