.gradient-form {
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient-custom {
    background: #fccb90;
    background: linear-gradient(to right, #1978BE, #45B86A);
    background: linear-gradient(to right, #1978BE, #45B86A);

}

.gradient-custom-btn {
    background: #fccb90;
    background: linear-gradient(to right, #1978BE, #EC2129);
    background: linear-gradient(to right, #1978BE, #EC2129);

}

.btn-block {
    width: 100%;
    padding: 10px;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 5px;
}

.btn-outline-secondary {
    color: #1978BE;
    border: 1px solid #1978BE;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.btn-outline-secondary:hover {
    background-color: #1978BE;
    color: #fff;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 110vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

/* #FDCA09 yellow, #1978BE blue, #EC2129 red, #45B86A green*/
/* #ee7724, #d8363a, #dd3675, #b44593 */