:root {
    --header-height: 3.5rem;
    --nav-width: 219px;

    /*========== Colors ==========*/
    --first-color: blue;
    --first-color-light: #F4F0FA;
    --title-color: #19181B;
    --text-color: #58555E;
    --text-color-light: #A5A1AA;
    --body-color: #f5f5f5; /* #f5f5f5 */
    --container-color: #FFFFFF;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .700rem;
    --small-font-size: .75rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-fixed: 1000;
}

@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== BASE ==========*/
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    padding-top: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*========== HEADER ==========*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
}

.header__container {
    display: flex;
    align-items: center;
    height: 2.5rem;
    justify-content: space-between;
}

.header__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
    display: none;
}

.header__icon,
.header__toggle {
    font-size: 1.2rem;
}

.header__toggle {
    color: var(--title-color);
    cursor: pointer;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__img {
    margin-right: 8px;
}

.header__logo-text {
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-weight: bold;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__language {
    background: none;
    border: none;
    font-size: var(--normal-font-size);
    color: var(--title-color);
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 5px;

    &:hover {
        color: var(--text-color-light);
        transform: scale(1.05);
    }
}

.btn-block {
    width: 99%;
}


.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -1200px;
    background-color: #f8f9fa;
    width: 350px;
    padding: 1rem;
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

.show-sidebar {
    right: 0;
}

.sidebar__close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
    display: block;
    text-align: right;
    margin-bottom: 1rem;
}

.sidebar p {
    margin-top: 10px;
    font-size: 0.9rem;
}

.sidebar_link {
    text-decoration: none;
    color: #000000;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
        color: #FFFFFF;
        transform: scale(1.05);
    }
}

.sidebar_link2 {
    text-decoration: none;
    color: #000000;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
        color: #6c757d;
    }
}

@media (max-width: 1200px) {
    .sidebar {
        width: 100%;
    }
}

/*===== BUTTON =====*/
.gradient-custom-button {
    background: #fccb90;
    background: linear-gradient(to right, #1978BE, #EC2129);
}

.btn-outline-secondary1 {
    color: #000000;
    border: 2px solid #1978BE;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.btn-outline-secondary1-active {
    border: 2px solid;
    border-image: linear-gradient(to right, #1978BE, #EC2129) 1;
    color: #1978BE;
}

.btn-outline-secondary1:hover {
    border-image: linear-gradient(to right, #1978BE, #EC2129) 1;
    color: #1978BE;
}

.btn-outline-secondary1:hover,
.btn-outline-secondary1-active:hover {
    color: #fff;
    background: linear-gradient(to right, #1978BE, #EC2129);;
    border-radius: 5px;
}