@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body, html {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    background-color: #ffffff;
    color: var(--text-color);
    flex: 1;
}