.alert{
    padding: 10px !important;
    font-size: 12px !important;
    margin: 0px !important;
    color: #FF0000FF;
    font-weight: bold;
}

.notice{
    padding: 10px !important;
    font-size: 12px !important;
    margin: 0px !important;
    color: #008e0f;
    font-weight: bold;
}