/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.alert {
    padding: 10px !important;
    font-size: 12px !important;
    margin: 1px !important;
    color: #FF0000FF;
    font-weight: bold;
}

.notice {
    padding: 10px !important;
    font-size: 12px !important;
    margin: 1px !important;
    color: #008e0f;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}