<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <button class="header__language">Share</button>
    <button class="header__language">Invite</button>
    <button class="header__language">Lottery</button>
    <button class="header__language">Shop</button>
    <button class="header__language">Me</button>
  </div>
</footer>