<%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>

<footer class="footer">
  <div class="footer__container">
    <button class="footer__link">Share</button>
    <button class="footer__link">Invite</button>
    <button class="footer__link">Lottery</button>
    <button class="footer__link">Shop</button>

    <% if current_clients_user %>
      <%= link_to 'Me', clients_profile_path, class: 'footer__link' %>
    <% end %>
  </div>
</footer>
