<%= stylesheet_link_tag "navbar", "data-turbo-track": "reload" %>

<header class="header">
  <div class="container-fluid header__container">

    <div class="header__left">
      <%= image_tag "koda_logo.png", class: "header__img", alt: "logo" %>
      <a href="#" class="header__logo"> System Management </a>
    </div>

    <div class="header__right">
      <button class="header__language btn_footer">Coins</button>
      <button class="header__language">Claim</button>
      <button class="header__language">Language</button>
    </div>

<!--    <div class="header__toggle">-->
<!--      <i class='bx bx-menu' id="header-toggle"></i>-->
<!--    </div>-->

  </div>
</header>